<div class="page-header">
  <h3>Business #<%= @business.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Yelp</dt>
      <dd><%= @yelp %></dd>

      <dt>Name</dt>
      <dd><%= @business.name %></dd>

      <dt>Image url</dt>
      <dd><img src="<%= @business.image_url %>"></dd>

      <dt>Url</dt>
      <dd><a href="<%= @business.url %>"><%= @business.name %> website</a></dd>

      <dt>Phone</dt>
      <dd><%= @business.phone %></dd>

      <dt>Rating</dt>
      <dd><%= @business.rating %></dd>

      <dt>Location</dt>
      <dd><%= @business.location %></dd>

      <dt>Yelp api return</dt>
      <dd><%= @business.yelp_api_return %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/my_bookmarks/<%= current_user.id %>" class="btn btn-primary">
        Back
      </a>
      <a href="/businesses/<%= @business.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_business/<%= @business.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
