<!-- Validation failure messages -->
<% if @bookmark.errors.any? %>
  <% @bookmark.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <div class="col-md-8 col-md-offset-2">
    <h3>Add Bookmark</h3>
  </div>  
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        
        <input type="hidden" name="user_id" value="<%= current_user %>">
      </div>

      <!-- Label and input for business_id -->
      <div class="form-group">
        <label for="business_id" class="control-label">
          Business
        </label>

        <%= select_tag("business_id", options_from_collection_for_select(Business.all, :id, :name, @bookmark.business_id), :class => "form-control") %>
      </div>
      
      <!-- Label and input for waypoint_id -->
      <div class="form-group">
        <label for="waypoint_id" class="control-label">
          Waypoint
        </label>

        <!--<input type="text" id="waypoint_id" name="waypoint_id" placeholder="Waypoint" class="form-control" value="<%= @bookmark.waypoint_id %>">-->
        <%= select_tag("waypoint_id", options_from_collection_for_select(Waypoint.all, :id, :id, @bookmark.waypoint_id), :class => "form-control") %>
      </div>

      <!-- Label and input for search_topic -->
      <!--<div class="form-group">-->
      <!--  <label for="waypoint_id" class="control-label">-->
      <!--    What do you want to search for?-->
      <!--  </label>-->

      <!--  <input type="text" id="search_topic" name="search_topic" placeholder="Search topic" class="form-control" value="<%= @bookmark.search_topic %>">-->
      <!--</div>-->
      
      <button class="btn btn-success">
        Create Bookmark
      </button>
      or
      <a href="/bookmarks">Cancel</a>
    </form>
  </div>
</div>