<div class="page-header">
  <h3>Route #<%= @route.id %></h3>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @route.user_id %></dd>

      <dt>Name</dt>
      <dd><%= @route.name %></dd>

      <dt>Origin</dt>
      <dd><%= @route.origin %></dd>

      <dt>Destination</dt></dt>
      <dd><%= @route.destination %></dd>

      <dt>Map</dt>
      <dd><a href="<%= @route.map %>"><%= @route.map %></a></dd>
      <dd><img src="<%= @route.map %>", class="img-responsive" %></dd>
      
      <dt>Created</dt>
      <dd><%= @route.created_at %></dd>
      
      <dt>Bookmarks</dt>
      <dd>
        <% @bookmarks.each do | bookmark | %>
          <% if bookmark.waypoint.route_id == @route.id %>
            <ul>
              <a href="/businesses/<%= bookmark.business_id %>"><%= bookmark.business.name %></a>
            </ul>  
          <% end %>
        <% end %>  
      </dd>
      
    </dl>

    <div class="btn-group btn-group-justified">
      <% if current_user.id != @route.user_id %>
        <a href="/routes" class="btn btn-primary">
          Back
        </a>
      <% else %>  
        <a href="/routes/<%= @route.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_route/<%= @route.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>  
    </div>
  </div>
</div>
